* {
    box-sizing: border-box;
}

html, body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.2)
}

.title {
    color: #000000ee;
    font-size: 4rem;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5em;
}

.grid-radio-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content:flex-end;
    margin: auto auto;
    width: 100%;
    max-width: 1000px;
    gap: 100px;
}

#grid-container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 50vh;
    min-height: 50vh;
    min-width: 50vh;
    border: 1px solid rgba(0, 0, 0, 0.623);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.radio-container {
    margin-top: 2em;
    margin-bottom: 2em;
    border-style: solid;
    padding: 16px;
    border-image: linear-gradient(
        to right,
        rgba(255, 0, 0, 0.6),
        rgba(255, 166, 0, 0.6),
        rgba(0, 128, 0, 0.6),
        rgba(0, 0, 255, 0.6),
        rgba(238, 130, 238, 0.6)
    ) 1;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.radio-header {
    font-size: 1.1em;
    font-weight: 500;
}

.radio-color-text {
    margin-top: 12px;
}


input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    border: 2px solid rgba(68, 79, 247, 0.9);
    transition: 0.2s all linear;
    margin-right: 4px;
}

input[type="radio"]:checked {
    background-color: rgba(25, 40, 248, 1);
}

.clear-button {
  display: block;
  margin: 30px auto;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;


  width: 110px;
  height: 50px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #7930aaea;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.clear-button:hover {
  background-color: #7930aa;
}

.clear-button:active {
    background-color: #7930aaea;
}


