* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.2)
}

#grid-container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 50vh;
    border: 4px solid rgba(0, 0, 0, 0.623);
}

.radio-container {
    margin-top: 2em;
    border-style: solid;
    padding: 16px;
    border-image: linear-gradient(
        to right,
        rgba(255, 0, 0, 0.6),
        rgba(255, 166, 0, 0.6),
        rgba(0, 128, 0, 0.6),
        rgba(0, 0, 255, 0.6),
        rgba(238, 130, 238, 0.6)
    ) 1;
    font-size: 1.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.radio-header {
    font-size: 1.1em;
    font-weight: 500;
}

.radio-color-text {
    margin-top: 12px;
}


input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    border: 2px solid rgba(68, 79, 247, 0.9);
    transition: 0.2s all linear;
    margin-right: 4px;
}

input[type="radio"]:checked {
    background-color: rgba(25, 40, 248, 1);
}